.hearts {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.hearts span {
  position: absolute;
  bottom: -50px;
  font-size: 2rem;
  animation: float 8s linear infinite;
}

.hearts span:nth-child(1) { left: 10%; animation-duration: 6s; }
.hearts span:nth-child(2) { left: 20%; animation-duration: 8s; }
.hearts span:nth-child(3) { left: 30%; animation-duration: 7s; }
.hearts span:nth-child(4) { left: 40%; animation-duration: 9s; }
.hearts span:nth-child(5) { left: 50%; animation-duration: 6s; }
.hearts span:nth-child(6) { left: 60%; animation-duration: 8s; }
.hearts span:nth-child(7) { left: 70%; animation-duration: 7s; }
.hearts span:nth-child(8) { left: 80%; animation-duration: 9s; }

@keyframes float {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}
